# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.iws
*.iml
*.ipr
.idea/
/build/

# Gradle
.gradle/
build/
capture/

# Output
*.apk
*.aar
*.jks
*.keystore

# Log files
*.log

# NDK
obj/

# System files
.DS_Store
Thumbs.db
.vscode/
